@import "tailwindcss";
@import "./cabinet-grotesk.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --bg: #0c0c0c;
  --surface: #141414;
  --surface2: #1a1a1a;
  --surface3: #202020;
  --border: rgba(255, 255, 255, 0.06);
  --border2: rgba(255, 255, 255, 0.1);
  --text: #efefef;
  --muted: rgba(255, 255, 255, 0.38);
  --muted2: rgba(255, 255, 255, 0.2);
  --accent: #c8f060;
  --accent-dim: rgba(200, 240, 96, 0.1);
  --accent2: #ff6b35;
  --red: #f06060;
  --orange: #f0a060;
  --blue: #60a8f0;
  --mono: "DM Mono", monospace;
  --sans: "Geist", sans-serif;
  --radius: 10px;
  --font-grotesk-bold: "CabinetGrotesk-Bold", sans-serif;
  --font-grotesk-black: "CabinetGrotesk-Black", var(--mono);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* Map your custom colors directly */
  --color-accent: var(--accent);
  --color-accent-dim: var(--accent-dim);
  --color-accent2: var(--accent2);
  --color-red: var(--red);
  --color-orange: var(--orange);
  --color-blue: var(--blue);

  /* Map your custom fonts */
  --font-sans:
    var(--font-cabinet), ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  --font-mono: var(--font-geist-mono);
  --font-grotesk-bold: var(--font-grotesk-bold);
  --font-grotesk-black: var(--font-grotesk-black);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
}
